@charset "UTF-8";
/* Fonte Regular Montserrat 400*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/* Fonte SemiBold Montserrat 600*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}
header{
    background-color: #ff9a6c;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 80px 24px 80px;
}
header > nav > a {
    color: white;
    font-weight: 600;
    padding: 25px;
    text-decoration: none;
}
body {
    color: #263138;
}